.title {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2.5rem;
  padding-left: 5%;
  display: inline;
}

.menu-active{
  color: #fff;
  background: #1abc9c;
  padding-left: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 1.2rem;
  border-radius: 13px;
}

.menu-inactive{
  color: #fff;
  background: #023d6f;
  padding-left: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 1.2rem;
  border-radius: 13px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.text-uppercase {
  text-transform: uppercase !important;
}

#mainNav {
  color: #fff;
  background: #023d6f;
  width: 100%;
  height: 80px;
}

ul {
  display: inline;
  padding-right: 8%;
  float: right;
}

li {
  display: inline;
  padding-left: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}

.container {
  padding-top: 0.65%;
}
.copyright {
  background-color: #1a252f;
}

.py-4 {
  padding-bottom: 2.7rem !important;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: #fff !important;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

#copyright {
  justify-content: center;
  height: 5px;
  padding-left: 1%;
}